.viona_cantik{
    color : pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.viona_byutipul{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}